torch==2.0.0
matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
torchmetrics==0.11.2
tabulate==0.8.10
scipy==1.10.1
h2o==3.46.0.1
shap==0.42.1
lime==0.2.0.1
scikit-learn==1.2.2
pandapower==2.11.1
simbench==1.3.0
zennit==0.5.1